body {			
    font-family: "OpenDyslexic Bold", "OpenDyslexic Bold Italic", "OpenDyslexic Regular", "OpenDyslexic Italic"; 
    color: black; 
    font-size: 14px; 
    background-image: url("../images/about_us_background.png");
    background-size: cover;
    background-repeat: no-repeat;
	
}



h1 {
    font-family: "OpenDyslexic Regular"; 
    color: rgb(187, 123, 4); 
    font-size: 50px;
    position: relative;
    top: 100px;
    left: 0px;
    margin-right: 1%;
    padding: 15px;
    border-radius: 10px;
} 



h2 {			
    font-family: arial, sans-serif; 
    color: black; 
    font-size: 40px;
} 



h3 {
    font-family: arial, sans-serif; 
    color: black; 
    font-size: 16px;
    position: relative;
    top: -600px;
} 
nav {
    width:50%;
    height: 50px;
	padding: 25px 50px 75px 800px;
    position: relative;
}
nav ul li{
  
    font-size: 30px;
    list-style-type: none;
    float: right;
    background-color: rgb(126, 66, 245);
    margin-right: 1%;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 5px 5px rgb(60, 63, 64);
}
nav ul li a{
    color: white;
    text-decoration: none;
}
div img{
    height: 700px;
    width: 600px;
    border-radius: 20px;
    position: relative;
    left: 900px;
    top: -150px;
}
div about_us{
    background-color: bisque;
}