body {			
    font-family: "OpenDyslexic Bold", "OpenDyslexic Bold Italic", "OpenDyslexic Regular", "OpenDyslexic Italic"; 
    color: black; 
    font-size: 14px; 
    background-size: cover;
    background-repeat: no-repeat;
	text-align: center
	
}
form{
    max-width: 500px;
    margin: 2rem auto;
    border: 2px solid black;
    padding: 5rem;
    text-align: left;
    display:block;
    background-color: rgb(219, 189, 247);
}


h1 {
    font-family: "OpenDyslexic Regular"; 
    color: black; 
    font-size: 32px;
    position: relative;
    left: -240px;
    border-radius: 25px;
    padding: 10px;
    background-color: rgb(126, 66, 245);
    color: white;
} 



h2 {			
    font-family: arial, sans-serif; 
    color: black; 
    font-size: 27px;
} 



h3 {
    font-family: arial, sans-serif; 
    color: black; 
    font-size: 16px;
} 

nav {
    width:50%;
    height: 50px;
	padding: 25px 50px 75px 800px;
    position: relative;
}
nav ul li{
  
    font-size: 30px;
    list-style-type: none;
    float: left;
    background-color: rgb(126, 66, 245);
    margin-right: 2%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 5px 5px rgb(60, 63, 64);
}
nav ul li a{
    color: white;
    text-decoration: none;
}